@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*Common style*/

.wrapper {
    font-family: 'Montserrat', sans-serif;

}

.container {
    margin: 0 auto;
    max-width: 1160px;
}

a {
    text-decoration: none;
}