.wrapper-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.options-div {
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 110px;
}

.wrapper-dark {
    background-color: #1C2A33;
    padding-top: 80px;
    color: #18CFAB;

}

.wrapper-light {
    background-color: #18CFAB;
    padding-top: 100px;
    color: #fff;
}

.options-text {
    margin-top: 58px;
}
@media (max-width:800px) {    
    

    .wrapper-options {
        display: flex;
        flex-direction: column;
    }
}
@media(min-width: 801px) and (max-width:1000px) {
  
    .wrapper-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
